#prodetails {
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 23%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 30px 0 15px 0;
}

#prodetails .single-pro-details h2 {
    font-size: 20px;
    color: #088178;

}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
    outline: none;
}

#prodetails .single-pro-details button {
    background-color: #088178;
    color: rgb(255, 255, 255);
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    transition: 0.3s;
    padding: 10px 20px;
    border-radius: 3px;
}

#prodetails .single-pro-details span {
    line-height: 27px;
}

@media (max-width: 799px) {
    #prodetails {
        display: flex;
        flex-direction: column;

    }

    #prodetails .single-pro-image {
        width: 100%;
        
    }

    #prodetails .single-pro-details {
        width: 100%;
    }
}

@media (max-width: 477px) {
    #prodetails {
        display: flex;
        flex-direction: column;

    }

    #prodetails .single-pro-image {
        width: 100%;
        
    }

    #prodetails .single-pro-details {
        width: 100%;
    }

}